VirtualHost "xmpp.{{ host }}"
	privileged_entities = {
		["discord.xmpp.{{ host }}"] = {roster = "both"; message = "outgoing"; };
		["whatsapp.xmpp.{{ host }}"] = {roster = "both"; message = "outgoing"; };
		["facebook.xmpp.{{ host }}"] = {roster = "both"; message = "outgoing"; }
	};

	ssl = {
		key = "/etc/prosody/certs/xmpp.{{ host }}.key";
		certificate = "/etc/prosody/certs/xmpp.{{ host }}.crt";
	}

Component "discord.xmpp.{{ host }}"
    component_secret = "WSaGLu8zB/HFayjjuzw9VPfOdIk="  -- replace this with a real secret!
    modules_enabled = {"privilege"} -- optional, additional config required to make it work

Component "whatsapp.xmpp.{{ host }}"
    component_secret = "jcuRydsXSenxN6xgyVC5i5AMvJEJ8Ya"  -- replace this with a real secret!
    modules_enabled = {"privilege"} -- optional, additional config required to make it work

Component "facebook.xmpp.{{ host }}"
    component_secret = "2hejwwTUdQs25M92tyjuE4Rgbfw6n9YOLUtyqUs"  -- replace this with a real secret!
    modules_enabled = {"privilege"} -- optional, additional config required to make it work


Component "conference.xmpp.{{ host }}" "muc"
