admins={{ username }}@xmpp.{{ host }}
no-upload-url-prefix=https://xmpp.{{ host }}/slidge
no-upload-file-read-others=true
no-upload-read-others=true
no-upload-path=/var/lib/slidge/attachments
user-jid-validator=.*@xmpp.{{ host }}
server=localhost
port=5347
