server {
    {% include "templates/common/internal.j2" %}
    {% include "templates/common/params.j2" %}

    server_name {{ subdomains['sonarr'] }}.{{ host }};

    location / {
        {% include "templates/common/cors.j2" %}
        include /etc/nginx/proxy.conf;
        set $upstream_app sonarr;
        set $upstream_port 8989;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }

    location ~ (/sonarr)?/api {
        include /etc/nginx/proxy.conf;
#        include /etc/nginx/resolver.conf;
        set $upstream_app sonarr;
        set $upstream_port 8989;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
}
