{
  "links": [
    {
      "rel": "urn:xmpp:alt-connections:xbosh",
      "href": "https://{{ host }}:8443/bosh"
    },
    {
      "rel": "urn:xmpp:alt-connections:websocket",
      "href": "wss://{{ host }}:8443/"
    }
  ]
}
