hosts: [xmpp.kwasniak.xyz]

modules:
  mod_roster:    {}
  mod_configure: {}
  mod_disco:     {}
  mod_private:   {}
  mod_time:      {}
  mod_last:      {}
  mod_version:   {}
  mod_adhoc:     {}

loglevel: warning
