hosts: [xmpp.{{ host }}]

modules:
  mod_roster:    {}
  mod_offline:   {}
  mod_configure: {}
  mod_disco:     {}
  mod_private:   {}
  mod_time:      {}
  mod_last:      {}
  mod_version:   {}
  mod_privacy:   {}
  mod_caps:      {}
  mod_adhoc:     {}
  mod_blocking:    {}
  mod_vcard_xupdate: {}
  mod_avatar:    {}
  mod_bosh:      {}
  mod_mam:       {}
  mod_carboncopy: {}
  mod_muc:       {}
  mod_vcard:     {}
  mod_pubsub:
    default_node_config:
      notification_type: normal
      notify_retract: false
    plugins:
      - flat
      - pep
  mod_http_upload:
    docroot: /opt/ejabberd/mod_http_upload
    put_url: "https://xmpp.{{ host }}/upload"
    access:
      - allow: admin

acme:
  auto: false
#acme:
  #ca_url: https://acme-staging-v02.api.letsencrypt.org/directory
  ## Production environment (the default):
  #ca_url: https://acme-v02.api.letsencrypt.org/directory
  #auto: true

#c2s_ciphers: "ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS"
#c2s_dhfile: "/opt/ejabberd/certs/dh.pem"

ca_file: "/opt/ejabberd/certs/ca_letsencrypt.pem"

certfiles:
  - "/opt/ejabberd/certs/xmpp.{{ host }}.key"
  - "/opt/ejabberd/certs/xmpp.{{ host }}.fullchain.cer"
  - "/opt/ejabberd/certs/xmpp.{{ host }}.cer"
listen:
  -
    port: 5222
    module: ejabberd_c2s
    tls: true
    max_stanza_size: 262144
  -
    port: 8443
    module: ejabberd_http
    tls: true
    request_handlers:
      /wss: ejabberd_http_ws
      /upload: mod_http_upload
  -
    port: 5280
    module: ejabberd_http
    tls: false
    request_handlers:
      /.well-known/acme-challenge: ejabberd_acme

acl:
  admin:
    user:
      - "sebsk@xmpp.kwasniak.xyz"

loglevel: 5
